<% layout('layouts/boilerplate') -%>

<body>
       
        <div class="d-flex justify-content-between align-items-center mb-8">
            <h3>List of all Places</h3>
            
        </div>

        <div class="row">
            <% for(let list of allListings) { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="<%= list.image.url %>" class="card-img-top" alt="<%= list.title %>" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title"><%= list.title %></h5>
                            <p class="card-text"><%= list.description %></p>
                        </div>
                        <div class="card-footer">
                            <strong>Price:</strong> ₹<%= String(list.price) %>/night
                            <a href="/listings/<%= list._id %>" class="btn btn-sm btn-outline-primary float-end">View</a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    
</body>
